html,body{height:100%;}
.pop_mask{width:100%;height:100%;background:#000;opacity: 0.3;filter:alpha(opacity=30);position:fixed;top:0;left:0;z-index:100;}
.pop_box{position:fixed;z-index:101;padding:30px;background:#fff;top:50%;left:50%;display:none;border-radius:10px;min-width:500px;max-width:700px;max-height:80%;}
.pop_box .close{display:inline-block;width:30px;height:30px;position:absolute;right:10px;top:10px;background:url("../img/close.png") no-repeat center center;}

.slider{width:480px;overflow:hidden;}
.slider .slider_wrap{height:320px;overflow:hidden;position:relative;transition:0.3s;left:0;}
.slider .slider_wrap li{display:inline-block;}
.slider .slider_wrap li a,.slider .slider_wrap li a img{display:block;width:100%;height:100%;}
.slider .slider_thumb li img{height:50px;}
.slider .slider_thumb li{display:inline-block;margin:0 2px;padding:1px;}
.slider .slider_thumb li.current{border:1px solid #004B99;}




/*企业*/
.ml_10{margin-left:10px;}
.fs-14{font-size:14px;}
/*企业查询二级*/
.fs22{font-size:22px;}
.c26{color:#262626;}
.vt{vertical-align: top;}
.ptb_20{padding:20px 0;}
.address{padding-left:30px;background:url("../img/gps.png") no-repeat left center;position:relative;}
.pl_30{padding-left:30px;}
.vs{padding-left:25px;background:url("../img/renzheng.png") no-repeat left center;}
.ml_30{margin-left:30px;}
.bor_box{border:1px solid #E5E5E5;padding:10px;}
.phone{padding-left:40px;background:url("../img/phone.png") no-repeat left center;font-size:30px;color:#ff3e62;}
.c5b{color:#5b5b5b;}
.bor_t{border-top:1px solid #E5E5E5;}

/*c*/
.mt_2{margin-top:2px;}
.activity_img{padding:17px 13px;}
.activity_img img{width: 200px;}
.fs_18{font-size: 18px;}
.activity_info{color: #5b5b5b;line-height: 30px;}
.comment_con_bar{height: 38px;font-size: 0;border: 1px solid #e5e5e5;background: #f9f9f9;margin-top: 18px;line-height: 38px;}
.comment_con_bar a{display: inline-block;font-size: 14px;color: #5b5b5b;border-right: 1px solid #e5e5e5;height: 100%;padding: 0 33px;}
.comment_con_bar a.on,.comment_con_bar a:hover{color: #2087c5;}
.comment_lists li{padding: 20px 0;border-bottom: 1px dashed #c9c9c9;box-sizing: border-box;overflow: hidden;}
.comment_left{width: 117px;float: left;text-align:center;}
.comment_right{width: 843px;float: left;padding-left: 20px;}
.comment_left span{display: inline-block;width: 60px;height: 57px;overflow: hidden;}
.comment_left span img{width: 100%;}
.comment_left p{font-size: 12px;color: #a2a3a3;}
.comment_tit{height: 30px;background: #f5f9fc;line-height: 30px;color: #a2a3a3;}
.comment_star{display: inline-block;padding: 0 18px;}
.comment_tit span{border-right: 1px solid #dbdcde;padding: 0 13px;font-size: 12px;}
.comment_para{font-size: 12px;color: #5b5b5b;padding: 10px 0;}
.comment_time{font-size: 12px;color: #a2a3a3;}